@using EvxWebAppCore.Models
@model UserDetailModel
@{
    bool IsLoggedIn = Model != null ? true : false;
}
<div id="dim" class="hide">
</div>
<div id="appdrawer">
    <div id="drawerheader">
        <img id="drawerlogo" src="images/EVXperienceLogo.png" />
    </div>
    <div class="drawermenu">
        @*<div class="menuitem"><a href="#"><span class="glyphicon glyphicon-home"> Home</span></a></div>

        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-info-sign"> About </span></a></div>
        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-user"> Drivers </span></a></div>
        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-road"> Lines </span></a></div>
        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-map-marker"> GPS </span></a></div>
        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-cog"> Account Management </span></a></div>
        <div class="menuitem"><a href="<?php echo site_url('Main/logout')?>"><span class="glyphicon glyphicon-off"> Logout</span></a></div>
        <div class="menuitem"><a href="#"><span class="glyphicon glyphicon-thumbs-up"> Feedback</span></a></div>*@
        <button class="btn @(IsLoggedIn ? "btn-danger": "btn-success") my-2 my-sm-0" data-toggle="modal" @(IsLoggedIn ? "onClick=InitiateLogout()" : "data-target=#LoginModal")>@(IsLoggedIn ? "Logout" : "Login")</button>
    </div>
</div>