@using EvxWebAppCore.Models
@model List<DestinationModel>
<input type="hidden" id="HiddenDynamicLineID" value="@Model.FirstOrDefault().LineID" />
@foreach (DestinationModel entry in Model)
{

    <div class="button-list-default-margin">
        <button type="button" class="btn btn-secondary btn-lg btn-block">@entry.Value</button>
    </div>
}