@using EvxWebAppCore.Models
@model UserDetailModel
@{
    ViewData["Title"] = "MyRyde";
    bool IsLoggedIn = Model != null ? true : false;
}
<link rel="stylesheet" href="~/css/app/Index.css" asp-append-version="true" />
<input type="hidden" id="AdminID" value="@(IsLoggedIn ? Model.UserID: 0)" />
<div id="map"></div>

@{
    if (IsLoggedIn)
    {
        <div id="fab"></div>
        @*<partial name="_ManageModalPartial"/>*@;
    }
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP9lU4cOSwfITjgMeqiG3tRV1-_pZJEWQ&libraries=places&callback=initMap"
        async defer></script>
<script src="~/lib/fab/dist/js/fab.js"></script>
<script src="~/js/app/Index/Index.js" asp-append-version="true"></script>
